.colorModeToggle button:hover{
    background: none;
    filter: brightness(50%) saturate(100%);
}

.colorModeToggle svg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(144deg) brightness(1000%) contrast(101%);
}

[data-theme='dark'] {
    --ifm-background-color: #212529;
}